body {
    overflow-x: hidden;
}

.content-container {
    position: relative;
}

.input-field {
    -webkit-transition: margin-top 400ms;
    -moz-transition: margin-top 400ms;
    -ms-transition: margin-top 400ms;
    -o-transition: margin-top 400ms;
    transition: margin-top 400ms;
}

.page {
    padding: 32px;
    position: absolute;
    top: 0;
    width: 100vw;
}

#member-table {
    width: calc(100vw - 64px);
}

#member-table > thead {
    display: block;
    width: calc(100vw - 64px);
    overflow: auto;
}

#member-table > tbody {
    display: block;
    width: calc(100vw - 64px);
    height: calc(100vh - 110px);
    overflow: auto;
}

#profile-modal {
    padding: 64px;
}
