body {
    overflow-x: hidden;
}

.content-container {
    position: relative;
}

.input-field {
    margin: 32px 0;
}

.page {
    padding: 32px;
    position: absolute;
    top: 0;
    width: 100vw;
}
