.MemberCards {
    padding: 16px;
}

.modal-grid {
    height: 100vh;
    pointer-events: none;
}

.modal-grid div {
    pointer-events: all;
}

.modal-paper {
    max-height: 100vh;
    overflow-y: auto;
    padding: 32px;
}

.left-cell {
    padding: 4px 2px 4px 24px
}

.right-cell {
    padding-right: 0;
}