#header {
    background-color: white;
    height: 80px;
    left: 0;
    overflow: hidden;
    padding: 8px 50px;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 2;
}

#header > img {
    vertical-align: middle;
}

#header > img:hover {
    cursor: pointer;
    transform: rotateZ(360deg);
}

#header h1 {
    display: inline;
    font-size: 2.5em;
    margin: 0 0 0 16px;
}

#header > #account-menu {
    margin-left: auto;
}

#header > #account-menu > img {
    border-radius: 50%;
    height: 48px;
}

#header > #account-menu > h4 {
    font-size: 1em;
    margin: 0 0 0 16px;
}
