.page#home {
    align-items: center;
    background-blend-mode: hard-light; /* Avoid killing the heading with a distracting image */
    background-color: black;
    background-image: url(../images/monkey-face-eyes-black-and-white-wallpaper.jpg);
    background-position: -250px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 5px #FFFFFF;
    z-index: 1;
}

.page#home > div {
    text-align: center;
}

.page#home > div > h1 {
    font-size: 5em;
}

.page#home > div > h2 {
    font-size: 3em;
}

.page#home > div > button {
    background-color: yellow;
    border: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 50px;
    padding: 15px 45px;
}

.page#home > div > button:hover {
    background-color: #9b9b00;
}
