* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

body {
    overflow: hidden; /* We don't want a sideways scrollbar to showup */
}

.unloaded {
    text-align: center;
}

.inline {
    display: inline;
}
